* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-wrap: pretty;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

:root {
    --primaryColor: #171717;
    --secondaryColor: #161C2D;
    --darkColor: #000000;
    --lightColor: #ffffff;
    --font-size-h1: 5.8rem;
    --font-size-h2: 3.8rem;
    --font-size-h3: 2.4rem;
    --font-sizee-h3: 2.8rem;
    --regularFont: 1.6rem;
    --regularFonte: 1.8rem;
    --ffPrimary: "Plus Jakarta Sans", sans-serif;
    --fw-regular: 400;
    --fw-bold: 700;
    --fw-bolder: 900;
}

body {
    background-color: var(--lightColor);
    font-family: var(--ffPrimary);
    color: var(--darkColor);
    font-size: var(--regularFont);
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    font-optical-sizing: auto;
}

input,
textarea,
button {
    font-family: inherit;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

a {
    text-decoration: none;
    color: inherit;
}


/* :::::SCROLL BAR CODE S T A R T S::::: */

/* Width and height of the scrollbar */
::-webkit-scrollbar {
    width: 1.5rem;
    height: 10px;
}

/* Track (background of the scrollbar) */
::-webkit-scrollbar-track {
    background: #e3e4e6;
    border-radius: 5px;
}

/* Scrollbar thumb (the draggable part) */
::-webkit-scrollbar-thumb {
    background: #cececf;
}

/* On hover */
::-webkit-scrollbar-thumb:hover {
    background: #b9b9ba;
}

/* :::::SCROLL BAR CODE E N D S::::: */

/* project standard classes Starts */

.componentSpacing {
    padding: 3rem 0rem;
}

.navBargrid {
    display: grid;
    grid-template-columns: 2fr 3fr;
}

.grid-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0rem 2rem;
    gap: 1rem;
}

.grid-3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    padding: 0rem 2rem;
}

.newsgrid {
    display: grid;
    grid-template-columns: 1.5fr 3.5fr;
}

.newsgridtwo {
    display: grid;
    grid-template-columns: 3.5fr 1.5fr;
}

.bloggrid {
    display: grid;
    grid-template-columns: 4.5fr 0.5fr;
}

.dflex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.dflex-start {
    display: flex;
    align-items: center;
    justify-content: start;
}

.dflex-col {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.dflex-col-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

/* project standard classes Ends */

/* :::PARENT CONTAINER Code Starts here::: */

header {
    width: 100%;
    height: auto;
    background-color: #e0f7f4;
}

main {
    width: 100%;
    height: auto;
}

footer {
    width: 100%;
    height: auto;
}

/* :::PARENT CONTAINER Code Ends here::: */


/* :::HEADER Code Starts hereE::: */
/* Navbar code */

.navContainer {
    padding: 1.5rem 3.2rem;
}

.logoBlock img {
    width: auto;
    height: 4rem;
}

.links {
    display: flex;
    justify-content: end;
    align-items: start;
    width: 100%;
    height: 100%;
    gap: 3rem;
}

.links li {
    list-style-type: none;
}

.links li a {
    font-family: var(--ffPrimary);
    font-size: var(--regularFont);
    font-weight: 600;
    color: #3D3D3D;
}

.linksBlock #iconToggle {
    cursor: pointer;
    display: none;
}

.linksBlock .hamburgerIcon {
    color: #002239;
    font-size: 2rem;
    border: 1.5px solid #002239;
    padding: 0.25rem 0.75rem 0.1rem;
    border-radius: 0.25rem;
    display: none;
}

/* Navbar code */

/* Hero Section code */

.heroBlock {
    padding: 8rem 5rem 1.6rem 5rem;
}

.heroBlock h1 {
    font-family: var(--ffPrimary);
    font-size: var(--font-size-h1);
    font-weight: var(--fw-bolder);
    color: #0d8dab;
    line-height: 1.2;
}

.heroBlock h1 span {
    color: #03a434;
}

.heroBlock p {
    font-family: var(--ffPrimary);
    font-weight: var(--fw-regular);
    color: var(--primaryColor);
    font-size: var(--regularFonte);
    margin: 1.8rem 0rem;
}

/* Hero Section code */
/* :::HEADER Code Ends here::: */

/* :::MAIN Code Starts here::: */
/* ecoSystem code */
.ecoSystem {
    background: linear-gradient(to right top, #3773c7, #78ca56);
    padding-bottom: 10rem;
}

.ecoSystemBlock {
    position: relative;
}

.ecoSystemBlock h2 {
    font-size: var(--font-size-h2);
    font-family: var(--ffPrimary);
    font-weight: var(--fw-bold);
    color: var(--lightColor);
    margin: 3rem 0rem;
}

.ecoSystemBlock p {
    font-size: 1.6rem;
    font-family: var(--ffPrimary);
    font-weight: var(--fw-bold);
    color: var(--lightColor);
    padding: 0rem 5rem;
}

.ecovideoBox {
    padding-top: 26.25%;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.ecovideoBox iframe {
    position: absolute;
    top: 20rem;
    left: 15%;
    width: 70%;
    height: 100%;
    border: none;
    border-radius: 2rem;
}

/* ecoSystem code */

/* future code */

.future {
    padding-top: 20rem;
}

.futureContainer {
    max-width: 1400px;
    margin: auto;
}


.futureContentBlock h2 {
    font-family: var(--ffPrimary);
    font-size: var(--font-size-h2);
    font-weight: var(--fw-bold);
    color: var(--secondaryColor);
    margin: 3rem 0rem;
}

.futureContentBlock span {
    font-family: var(--ffPrimary);
    font-size: var(--regularFonte);
    font-weight: var(--fw-bold);
    color: var(--primaryColor);
}

.futureContentBlock p {
    font-family: var(--ffPrimary);
    font-size: var(--regularFonte);
    font-weight: var(--fw-regular);
    color: var(--primaryColor);
}

.futureContentBlock li {
    margin-bottom: 2.5rem;
}

.futureContentBlock ul {
    padding-left: 2.5rem;
}

/* future code */

/* mobility code */
.mobility {
    background-color: #f4f7fa;
}

.mobilityContainer {
    max-width: 1100px;
    margin: auto;
    padding: 3rem 0rem;
}

.mobilityHeadingBlock h2 {
    font-family: var(--ffPrimary);
    font-size: var(--font-size-h2);
    font-weight: var(--fw-bold);
    color: var(--secondaryColor);
    margin: 3rem 0rem;
}

.mobilityHeadingBlock p {
    font-family: var(--ffPrimary);
    font-weight: var(--fw-regular);
    color: var(--primaryColor);
    font-size: var(--regularFonte);
    margin: 1.8rem 0rem;
}
.mobilityBlockTwo {
    padding-top: 8rem;
}

.mobilityBlock button {
    width: 100%;
    padding: 2rem 0rem;
    border-radius: 1rem;
    background-color: var(--lightColor);
    border: 1px solid rgba(0, 0, 0, .1);
}

.mobilityBlockTwo button {
    width: 100%;
    padding: 2rem 0rem;
    border-radius: 1rem;
    background-color: var(--lightColor);
    border: 1px solid rgba(0, 0, 0, .1);
}

.mobilityBlockThree button {
    width: 100%;
    padding: 2rem 0rem;
    border-radius: 1rem;
    background-color: var(--lightColor);
    border: 1px solid rgba(0, 0, 0, .1);
}

/* mobility code */

/*inspection code */

.inspectionContainer {
    max-width: 1000px;
    margin: auto;
}

.inspectionBlock h2 {
    font-family: var(--ffPrimary);
    font-size: var(--font-size-h2);
    font-weight: var(--fw-bold);
    color: var(--secondaryColor);
    margin: 3rem 0rem;
}

.inspectionBlock p {
    font-family: var(--ffPrimary);
    font-weight: var(--fw-regular);
    color: var(--primaryColor);
    font-size: var(--regularFonte);
    margin: 1.8rem 0rem;
}

.videoBox {
    position: relative;
    width: 100%;
    overflow: hidden;
    padding-top: 56.25%;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.videoBox iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
}

.inspectionBlock h3 {
    font-family: var(--ffPrimary);
    font-size: 3.2rem;
    font-weight: var(--fw-bold);
    color: var(--secondaryColor);
    margin: 3rem 0rem;
}
.list i {
    color: #03a434;
}

.list p {
    font-size: var(--regularFont);
    font-weight: var(--fw-bold);
    margin: 0rem 2rem;
}

.inspectionBlock button {
    font-size: var(--regularFonte);
    font-family: var(--fw-regular);
    margin: 3rem 0rem;
    padding: 1.6rem 2.4rem;
    border-radius: 1rem;
    color: var(--lightColor);
    border: none;
    background: linear-gradient(94.23deg, #0098BF 0%, #15BB98 68.74%, #68D585 137.48%);
}

/* inspection code */

/* digital code */

.digital {
    background-color: #f4f7fa;
    padding-bottom: 10rem;
}

.digitalContainer {
    max-width: 1400px;
    margin: auto;
}

.digitalHeadingBody {
    padding-top: 3.2rem;
}

.digitalHeadingBlock h3 {
    font-family: var(--ffPrimary);
    font-size: var(--font-sizee-h3);
    font-weight: var(--fw-bold);
    color: var(--secondaryColor);
    margin: 2rem 0rem;
}

.digitalHeadingBlock p {
    font-family: var(--ffPrimary);
    font-weight: var(--fw-regular);
    color: var(--primaryColor);
    font-size: 2.3rem;
    margin: 2rem 0rem;
}

.digitalImageBlock img {
    width: 100%;
    /* height: 50.5rem; */
    aspect-ratio: 1/1;
}

.digitalContentBlock {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

ol {
    list-style: none;
    counter-reset: list;
    padding-left: 0;
}

ol li {
    counter-increment: list;
    margin: 0.8rem 0;
    padding-left: 5rem;
    position: relative;
    font-family: var(--ffPrimary);
}

ol li::before {
    content: counter(list);
    position: absolute;
    left: 0;
    top: 25%;
    transform: translateY(-50%);
    width: 3rem;
    height: 3rem;
    background: #dceee6;
    color: #00a12b;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 1.8rem;
}

.digitalContentBlock h4 {
    font-family: var(--ffPrimary);
    font-size: var(--regularFonte);
    font-weight: var(--fw-bold);
    color: var(--primaryColor);
    padding: 2.5rem 0rem;
}

.digitalContentBlock span {
    font-family: var(--ffPrimary);
    font-size: var(--regularFont);
    font-weight: var(--fw-bold);
    color: #48494a;
}

.digitalContentBlock p {
    font-family: var(--ffPrimary);
    font-size: var(--regularFont);
    line-height: 1.5;
    font-weight: var(--fw-regular);
    color: var(--primaryColor);
    margin: 1.6rem 0rem;
}

.digitalFooterBody {
    padding: 0rem 5rem;
    border-radius: 1rem;
    background: linear-gradient(91.29deg, #fff3 -1.55%, #138fb533 19.35%, #15bc9733 52.72%, #61ca6633 87.4%, #fff3 109.68%);
}

.digitalFooterBlock {
    padding-top: 4.8rem;
    padding-bottom: 1rem;
}

.digitalFooterBlock h4 {
    font-family: var(--ffPrimary);
    font-size: var(--regularFonte);
    font-weight: var(--fw-bold);
    color: var(--primaryColor);
}

.digitalFooterBlock p {
    font-family: var(--ffPrimary);
    font-weight: var(--fw-regular);
    line-height: 2;
    color: #171717;
    font-size: var(--regularFont);
    margin: 1.6rem 0rem;
}

.digitalFooterBlock span {
    font-weight: var(--fw-bold);
    color: #48494a;
    font-size: var(--regularFont);
}

/* digital code */


/* news code */
.newsHeadingBlock h4 {
    font-family: var(--ffPrimary);
    font-size: var(--font-sizee-h3);
    font-weight: var(--fw-bold);
    color: var(--secondaryColor);
    margin: 2rem 0rem;
}

.newsHeadingBlock p {
    font-family: var(--ffPrimary);
    font-weight: var(--fw-regular);
    color: var(--primaryColor);
    font-size: 2.2rem;
    margin: 2rem 0rem;
}

.newsOneBody {
    background-color: #f4f7fa;
    gap: 1rem;
    margin: 1.6rem 0rem;
    padding: 2.4rem 10rem;
}

.newsOneImageBlock img {
    border-radius: 0.5rem;
    width: 100%;
    aspect-ratio: 3/2;
}

.newsOneContentBlock {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}

.newsOneContentBlock h3 {
    font-family: var(--ffPrimary);
    font-size: var(--font-sizee-h3);
    font-weight: var(--fw-bold);
    color: var(--primaryColor);
    margin: 2rem 0rem;
}

.newsOneContentBlock p {
    font-family: var(--ffPrimary);
    font-size: 1.4rem;
    font-weight: var(--fw-regular);
    color: #4d4d4d;
    margin-bottom: 0.5rem;
}

.newsOneContentBlock button {
    color: var(--lightColor);
    border: none;
    font-weight: var(--fw-bold);
    padding: 0.5rem 1rem;
    border-radius: 2rem;
    background-color: #0d8dab;
    margin-bottom: 0.5rem;
}

.newsOneContentBlock a {
    font-family: var(--ffPrimary);
    font-size: var(--regularFont);
    font-weight: var(--fw-bold);
    color: #3d3d3d;
    margin-bottom: 0.5rem;
    cursor: pointer;
}

/* newstwo */

.newsTwoBody {
    gap: 1rem;
    margin: 1.6rem 0rem;
    padding: 2.4rem 10rem;
}

.newsTwoImageBlock img {
    border-radius: 0.5rem;
    width: 100%;
    aspect-ratio: 3/2;
}

/* body three */
.newsThreeBody {
    background-color: #f4f7fa;
    gap: 1rem;
    margin: 1.6rem 0rem;
    padding: 2.4rem 10rem;
}

.newsThreeImageBlock img {
    border-radius: 0.5rem;
    width: 100%;
    aspect-ratio: 3/2;
}

.newsButtonBlock button {
    padding: 1rem 3rem;
    cursor: pointer;
    font-family: var(--ffPrimary);
    font-size: var(--regularFont);
    font-weight: var(--fw-regular);
    border-radius: 1rem;
    color: var(--lightColor);
    border: none;
    background: linear-gradient(94.23deg, #0098BF 0%, #15BB98 68.74%, #68D585 137.48%);
}

/* news code */

/* blogs code */
.blogs {
    padding-bottom: 3.2rem;
}

.blogsContainer {
    max-width: 1400px;
    margin: auto;
}

.blogsHeadingBlock h4 {
    font-family: var(--ffPrimary);
    font-size: var(--font-sizee-h3);
    font-weight: var(--fw-bold);
    color: var(--secondaryColor);
    margin: 2rem 0rem;
}

.blogsHeadingBlock p {
    font-family: var(--ffPrimary);
    font-weight: var(--fw-regular);
    color: var(--primaryColor);
    font-size: var(--regularFonte);
    margin: 2rem 0rem;
}

.blogsOneBody {
    padding: 3.2rem;
    cursor: pointer;
    transition: background-color 0.3s ease, border-radius 0.3s ease;
}

.blogsOneBody:hover {
    border-radius: 2rem;
    background-color: #eeeeee;
}

.blogsOneImageBlock img {
    width: 100%;
    aspect-ratio: 16 / 9;
    border-radius: 1rem;
    transition: transform 0.4s ease;
}

.blogsOneBody:hover img {
    transform: scale(1.1);
}

.blogsdateBox {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 1rem;
}

.blogsdateBox p {
    font-size: 1.2rem;
    font-weight: 700;
    color: #6b7280;
}

.blogsdateBox button {
    background-color: #f97316;
    border: none;
    color: #ffffff;
    font-weight: bold;
    padding: 0.8rem;
    border-radius: 5px;
    cursor: pointer;
}

.blogsHeadingBox h2 {
    font-family: var(--ffPrimary);
    font-weight: 700;
    font-size: 2.4rem;
    color: #1f2937;
    margin: 2rem 0rem;
}

.blogsButtonBlock button {
    padding: 1rem 3rem;
    cursor: pointer;
    font-family: var(--ffPrimary);
    font-size: var(--regularFont);
    font-weight: var(--fw-regular);
    border-radius: 1rem;
    color: var(--lightColor);
    border: none;
    background: linear-gradient(94.23deg, #0098BF 0%, #15BB98 68.74%, #68D585 137.48%);
}

/* blogs code */

/* sustainable code */
.sustainable {
    background: linear-gradient(180deg, #3771c8, #68d5a1);
}

.sustainableContainer {
    max-width: 1100px;
    margin: auto;
}

.sustainableBlock h2 {
    font-size: var(--font-size-h2);
    font-family: var(--ffPrimary);
    font-weight: var(--fw-bold);
    color: var(--lightColor);
    margin: 2.5rem 0rem;
}

.sustainableBlock p {
    font-size: var(--font-sizee-h3);
    font-family: var(--ffPrimary);
    font-weight: var(--fw-regular);
    color: var(--lightColor);
    margin-top: 0.8rem;
    margin-bottom: 2.8rem;
}

.sustainableBlock i {
    color: rgb(255, 231, 11);
}

/* sustainable code */

/* :::MAIN Code Ends here::: */

/* :::FOOTER Code Starts here::: */
/* footer code */
.footerContainer {
    padding: 2.2rem 1rem;
}

.footerLogoBlock img {
    width: auto;
    height: 2.5rem;
}

.footerBlock {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 3rem;
}

.footerBlock i {
    color: red;
}

.footerBlock a {
    font-family: var(--ffPrimary);
    font-size: 1.6rem;
    font-weight: var(--fw-bold);
    color: #3d3d3d;
}


/* footer code */

/* :::FOOTER Code Ends here::: */


/* ::::: RESPONSIVE DESIGN DEVICE SIZES ::::: */

/* for Responsive Target the ROW Code (display:grid) */

/* Small devices (landscape phones, upto 576px and below) */
@media (max-width: 576px) {

    :root {
    --font-size-h2: 3rem;
}

    .navBargrid,
    .grid-2,
    .grid-3,
    .newsgrid,
    .newsgridtwo,
    .bloggrid {
        grid-template-columns: 1fr;
        padding: 0rem 1rem;
    }

    .linksBlock .hamburgerIcon {
        display: block;
        position: absolute;
        top: 2rem;
        right: 3rem;
    }

    .links {
        flex-direction: column;
        display: none;
        align-items: end;
    }

    #iconToggle:checked~.links {
        display: flex;
    }

    .heroBlock h1 {
        font-size: 3.5rem;
    }

    .ecovideoBox iframe {
        position: absolute;
        top: 50rem;
        left: 15%;
        width: 75%;
        height: 55%;
        border: none;
        border-radius: 2rem;
    }

    .futureImageBlock,.newsOneContentBlock {
        order: 2;
    }

    .futureContentBlock,.newsOneContentBlock {
        order: 1;
    }

    .futureContentBlock h2 {
        text-align: center;
    }

    .mobilityHeadingBlock {
        padding: 0rem 3rem;
        text-align: center;
    }

    .mobilityBlockTwo,
    .mobilityBlockThree {
        display: none;
    }

    .mobilityBlock {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .mobilityContentBody img {
        width: auto;
        height: 32rem;
    }

    .mobilityBlock button {
        width: 50%;
    }

    .inspectionBlock,.digitalFooterBody,.newsOneBody,
    .newsTwoBody,
    .newsThreeBody,.blogsContainer,.sustainableBlock {
        padding: 0rem 3rem;
    }

    .digitalHeadingBlock {
        padding: 0rem 3rem;
        text-align: center;
    }


    .digitalImageBlock img{
        padding: 3rem;
    }

    .list {
        flex-wrap: wrap;
    }

    .newsOneContentBlock h3{
        font-size: 2.4rem;
    }

    .firstlist{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }


    .blogsButtonBlock,.blogsdateBox{
        margin-top: 2rem;
    }

    .sustainableBlock h2 {
        font-size: 2rem;
    }

    .sustainableBlock p {
        font-size: 1.4rem;
    }

    .footerLogoBlock {
        display: flex;
        justify-content: center;
        align-items: center;
        order: 2;
        margin-top: 3rem;
    }

    .footerBlock {
        justify-content: center;
        order: 1;
    }
}


/* Medium devices (tablets, upto 768px and above) */
@media (min-width: 577px) and (max-width: 768px) {
}

/* Large devices (Laptops, upto 992px and above) */
@media (min-width: 769px) and (max-width: 992px) {
}

/* X-Large devices (large desktops, upto 1200px and above) */
@media (min-width: 993px) and (max-width: 1200px) {
}

/* XX-Large devices (larger desktops, upto 1400px and above) */
/* @media (width >=1200px) */
@media (min-width: 1201px) {
}